@font-face {
    font-family: pixel;
    src: url(PublicPixel-z84yD.ttf);
  }
.zoom{
    zoom: 90%;
  }
  
body{
    font-family: pixel;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    /* text-decoration: none; */
    color: white;
}
canvas{
    border: 10px solid red;
}

#white-space{
    width: 10vw;
}

#name{
    border: none;
    font-family: pixel;
    font-size: 30px;
    background-color: black;
    color: white;
    height: 35px;
    width: 95px;
}

#name{
    color: red;
}

canvas{
    width: 700px;
    height: 700px;
}

#input_canvas{
    display: none;
}

@media only screen and (max-width: 750px) {
    canvas{
        width: 80vw;
        height: auto;
    }
    #input_canvas{
        display: block;
    }
  }

  @media only screen and (max-width: 900px) {
    body{
        flex-direction: column;
    }
  }